.banner-image {
  display: flex;
  width: 100%;
}

.container {
  position: relative;
  text-align: center;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  color: white;
  font-size: 40px;
  padding: 65px;
  font-family: sans-serif;
  line-height: 1.1;
}

p {
  font-size: 20px;
}
