h2 {
  font-size: 42px;
  font-weight: normal;
  text-align: center;
  padding: 20px;
}

.card-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  justify-content: center;    
}

img {
  width: 60%;
}
