h2 {
  font-size: 42px;
  font-weight: normal;
  text-align: center;
  padding: 20px;
}

.card-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
}

img {
  width: 60%;
}
