h2 {
  font-size: 42px;
  font-weight: normal;
  text-align: center;
  padding: 20px;
}

.card-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

img {
  width: 60%;
}
