h2 {
  font-size: 42px;
  font-weight: normal;
  text-align: center;
  padding: 20px;
}

.card-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
}

.image-container {
  padding: 20px;
  text-align: center;
  width: 100%;
}
